<div class="container">
  <div class="row text-center">
    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
    </h1>
  </div>
  <div class="image-container">
  </div>
  <div class="description-container">
    <%= @user.bio %>
  </div>
  <div class="cards-container">

  </div>
</div>
<% if @user.avatar.attached? %>

  <%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %>

<% end %>

<%#= cl_image_tag "sw6770g6hizcl4mhtlpz9m31s3wz", height: 300, width: 400, crop: :fill %>


<div class="mt-4">
  <%= link_to "Add a studio", new_studio_path %>
</div>
