<div class="background-image">
    <div class="user-container">
      <div class="user">
        <div class="user-image">
            <% if @user.avatar.present? %>
              <%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill, class: 'profile-avatar' %>
          <% end %>
        </div>
        <div class="user-info">
          <h1>
            <%= @user.first_name %> <%= @user.last_name %>
          </h1>
          <div class="bio">
            <%= @user.bio %>
          </div>
          <div class="user-controls mt-4">
            <h3 class="btn btn-success"><%= link_to "Add a studio", new_studio_path %></h3>
            <h3 class="btn btn-warning"><%= link_to "Edit account", edit_user_registration_path %></h3>
          </div>
        </div>
      </div>

    <div class="container mt-4">
    <% if @user.bookings %>
      <div class="user-bookings">
        <h5>My bookings:</h5>
        <div class="bookings-card-headers">
          <div class="bookings-card-section">
            <p><strong>studio</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>guest</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>description</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>start date</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>end date</strong></p>
          </div>
        </div>
      <% @user.bookings.each do |booking| %>
        <div class="bookings-card">
          <div class="bookings-card-section">
            <p><%= booking.studio.name %></p>
          </div>
          <div class="bookings-card-section">
            <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
          </div>
          <div class="bookings-card-section">
            <p><%= booking.description %></p>
          </div>
          <div class="bookings-card-section">
            <p><%= booking.booking_date_start %></p>
          </div>
          <div class="bookings-card-section">
            <p><%= booking.booking_date_end %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @studios %>
      <div class="user-bookings mt-4">
        <h5>Manage your requests:</h5>
        <div class="bookings-card-headers">
          <div class="bookings-card-section">
            <p><strong>studio</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>host</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>description</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>start date</strong></p>
          </div>
          <div class="bookings-card-section">
            <p><strong>end date</strong></p>
          </div>
        </div>
      <% @studios.each do |studio| %>
        <% studio.bookings.each do |booking| %>
          <div class="bookings-card">
            <div class="bookings-card-section">
              <p><%= booking.studio.name %></p>
            </div>
            <div class="bookings-card-section">
              <p><%= booking.studio.user.first_name %> <%= booking.studio.user.last_name %></p>
            </div>
            <div class="bookings-card-section">
              <p><%= booking.description %></p>
            </div>
            <div class="bookings-card-section">
              <p><%= booking.booking_date_start %></p>
            </div>
            <div class="bookings-card-section">
              <p><%= booking.booking_date_end %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    </div>
  </div>
</div>


<!-- <div class="container d-flex justify-content-between">
  <div class="row text-center">
    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
    </h1>
    <div>
      <% if @user.avatar.present? %>
        <%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill, class: 'profile-avatar' %>
    </div>
    <% end %>
    <div class="cards-container">
  </div>
  <div class="image-container">
  </div>
  <div class="description-container">
    <%= @user.bio %>
  </div>

  </div>

