<div class="profile-container">
  <div class="user-summary">
    <div class="user-image">
      <% if current_user.avatar.present? %>
        <%= cl_image_tag current_user.avatar.key, class: 'profile-avatar' %>
      <% else %>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.seattlefish.com%2Fwp-content%2Fthemes%2Fseattlefish%2Fimg%2Fplaceholder.png&f=1&nofb=1" alt="no image vailable">
      <% end %>
    </div>

    <div class="user-info">
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <p><%= current_user.bio %></p>
    </div>
    <div class="user-controls">
      <%= link_to "Add a studio", new_studio_path, class: 'btn-outline' %>
      <%= link_to "Edit account", edit_user_registration_path, class: 'btn-outline' %>
    </div>
  </div>

  <div class="profile-bookings">
    <% if !current_user.studios.empty? %>
      <% if current_user.studios.first.bookings.first != nil %>
        <div class="bookings-host">
          <h5>studio booking requests</h5>
          <%= render "bookings/host_bookings" %>
        </div>
      <% end %>
    <% end %>
    <% if current_user.bookings %>
      <div class="bookings-rent">
        <h5>my upcoming bookings</h5>
        <%= render "bookings/user_bookings" %>
      </div>
    <% end %>
  </div>













</div>
