<div class="home-banner">
  <div class="home-text">
    <div class="text-box">
      <h2>Welcome to StudioBnB</h2>
      <h3>Work in a world-class studio space to create your greatest work, at a reasonable price.<br><br></h3>

      <div class="banner-cta">

          <%= form_tag studios_path, method: :get do %>
                 <%= text_field_tag :query,
                   params[:query],
                   class: "form-control",
                   placeholder: "Find a studio"
                 %><%= submit_tag "Search", class: 'btn-banner' %>
               <% end %>

          <p>or</p>
          <p><%= link_to "browse ours studios", studios_path, class: 'btn-banner' %></p>
      </div>
    </div>

    <div class="page-scroll text-center justify-content-center">
      <a href="#top" class="btn btn-circle">
          <i class="fa fa-angle-down fa-2x animated"></i>
      </a>
    </div>
  </div>
</div>


<div class="container mt-5 pt-2">
  <h2 class="text-center">We help you find your dream studio</h2>

  <div class="row justify-content-center">
    <div class="col-6 px-0 text-center">
      <p class="lead">Wether your looking to finish your next album or having a go at recording your first song,
        Studiobnb will help you find the best workspace to get it done.
      </p>
      <%= link_to "Find a studio", new_user_registration_path, class: 'btn btn-success mb-4' %>
    </div>
  </div>
</div>

<section>
  <div class="container spacer">
    <div class="row mt-4 pt-4 justify-content-center align-items-center">
      <div class="info-text col-lg-6">
        <h3>The right workspace for the right project</h3>
        <p>
          Book a studio based on your needs. Focus on creating music,
          not dealing with logistics.
        </p>

        <p>
          Pay only for what you use. No hidden costs, no surprises.
          Do your work and stay in budget.
        </p>
      </div>
      <div class="info-image col-lg-6">
      </div>
    </div>
  </div>
</section>

<section class="mt-4">
    <h3 class="ml-4 mt-4 text-center pt-4">Studios in demand now:</h3>
    <div class="studios m-2">
      <% @studios.each do |studio| %>
        <%= link_to studio_path(studio) do %>
          <div class="studio-card" rounded-sm, style="background-image: linear-gradient(-155deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.merriammusic.com%2F2016%2F02%2Frecording-studio-control-room-center.jpg&f=1&nofb=1'); background-size: cover;">
            <div class="studio-card-info">
              <h4><%= studio.name %></h4>
              <p><i class="fas fa-map-marker-alt"></i> <%= studio.location %></p>
            </div>
            <div class="studio-card-price">
              <p><i class="fas fa-pound-sign"></i> <%= studio.price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</section>


