<%= simple_form_for @studio do |f| %>
    <%= f.error_notification %>

    <!-- <div class="form-inputs"> -->
      <%= f.input :name, input_html: { class: 'input-fields' },
                  autofocus: true%>
      <%= f.input :location, input_html: { class: 'input-fields' }%>
      <%= f.input :price, input_html: { class: 'input-fields' } %>
    <!-- </div> -->

    <!-- <div class="form-actions"> -->
      <%= f.button :submit, "Submit", class: "btn btn-outline" %>
    <!-- </div> -->
  <% end %>

