<%= simple_form_for @studio do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name,
                autofocus: true, label: false, placeholder: 'studio name' %>
    <%= f.input :location, label: false, placeholder: 'address' %>
    <%= f.input :price, label: false, placeholder: 'price per day' %>
    <%= f.input :description, as: :text, label: false, placeholder: 'details about your studio...' %>
    <%= f.input :photos, as: :file, label: false, input_html: { multiple: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "submit", class: "btn btn-outline" %>
  </div>
<% end %>
