
    <div class="studios">
      <% @studios.each do |studio| %>
        <%= link_to studio_path(studio) do %>
          <div class="studio-card", style="background-image: linear-gradient(-155deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(<%= cl_image_path(studio.photos.first.key) if studio.photos.attached? %>); background-size: cover;">
            <div class="studio-card-info">
              <h4><%= studio.name %></h4>
              <p><i class="fas fa-map-marker-alt"></i> <%= studio.location %></p>
            </div>
            <div class="studio-card-price">
              <p><i class="fas fa-pound-sign"></i> <%= studio.price %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

