<div class="studios-banner">
  <div class="studios-banner-text">
    <h3>Where musicians find great workspaces</h3>

    <% if !current_user %>
      <p class="studios-banner-cta"><%= link_to "sign up", new_user_registration_path, class: 'btn-banner' %> or <%= link_to "log in", new_user_session_path, class: 'btn-banner' %></p>
    <% end %>

    <div class="searchbar searchbar-med">
      <%= form_tag studios_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a studio"
        %>
        <%= submit_tag "search", class: "btn-outline" %>
      <% end %>
    </div>
  </div>


</div>

<h2 class="studios-header">Our studios</h2>
<%= render 'list' %>
