<div class="studios">
  <% @studios.each do |studio| %>
    <%= link_to studio_path(studio) %>
      <div class="studio-card">
        <h3><%= studio.name %></h3>
        <p><%= studio.location %></p>
        <p><i class="fas fa-pound-sign"></i><%= studio.price %></p>
      </div>
    <% end %>
  <% end %>
</div>

<!-- JC WORK BELOW -->

<h1>All studios</h1>

<% @studios.each do |studio| %>
 <p> <%= studio.name %> in
  <%= studio.location %> for
  <%= studio.price %></p> <span><%= link_to "Check Studio", studio_path(studio)%> </span>
<% end %>

<div class="mt-4">
  <%= link_to "Add a studio", new_studio_path %>
</div>
