<div class="studio-container">
  <div class="studio-summary">
    <div class="studio-details">
      <div class="studio-details-head">
        <h1><%= @studio.name %></h1>
        <p>hosted by <%= link_to "#{@studio.user.first_name} #{@studio.user.last_name}", profile_path(@studio.user) %></p>
      </div>
      <div class="studio-details-foot">
        <p class="studio-location"><i class="fas fa-map-marker-alt"></i><%= @studio.location %></p>
        <p class="studio-price"><i class="fas fa-pound-sign"></i><%= @studio.price %> / day</p>
      </div>
    </div>

    <div class="studio-photos">
      <div id="studio-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
        <% if @studio.photos.attached? %>
          <ol class="carousel-indicators">
            <li data-target="#studio-carousel" data-slide-to="0" class="active"></li>
            <% @studio.photos[1..-1].each_with_index do |photo, index| %>
              <li data-target="#studio-carousel" data-slide-to="<%= (index + 1) %>"></li>
            <% end %>
          </ol>
        <% end %>

        <% if @studio.photos.attached? %>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @studio.photos.first.key %>
            </div>
            <% @studio.photos[1..-1].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.seattlefish.com%2Fwp-content%2Fthemes%2Fseattlefish%2Fimg%2Fplaceholder.png&f=1&nofb=1" alt="no image vailable">
            </div>
          </div>
        <% end %>

        <% if @studio.photos.attached? %>
          <a class="carousel-control-prev" href="#studio-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#studio-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="studio-info">
    <div class="studio-description">
      <h2>More about this studio</h2>
      <p><%= @studio.description %></p>
      <p>Want to know more? Contact <%= link_to "#{@studio.user.first_name} #{@studio.user.last_name}", profile_path(@studio.user) %>  for more details.</p>
    </div>


    <% if @studio.user == current_user %>
      <div class="owner-controls">
        <%= link_to "edit this studio", edit_studio_path(@studio), class: 'btn btn-outline' %>
        <%= link_to "stop hosting", studio_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline' %>
      </div>
    <% end %>
    <% if @studio.user != current_user %>
      <div class="booking-form-container %>">
        <div class="booking-form">
          <%= render 'bookings/new'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
